.App {
   text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: inline-block;
}

.App-header {
  background-color: #42505d;
  height: 120px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
/* 
.App-header {
  align-items: center;
  background: #42505d;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  width: 100%;
} */